@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 300;
	src: local('Lato Light'), local('Lato-Light'), url('./assets/fonts/Lato/lato-v16-latin-300.woff2') format('woff2');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: local('Lato Regular'), local('Lato-Regular'), url('./assets/fonts/Lato/lato-v16-latin-regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	src: local('Lato Bold'), local('Lato-Bold'), url('./assets/fonts/Lato/lato-v16-latin-700.woff2') format('woff2');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 900;
	src: local('Lato Black'), local('Lato-Black'), url('./assets/fonts/Lato/lato-v16-latin-900.woff2') format('woff2');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.wrapper {
	width: 100%;
	font-family: 'Lato', sans-serif;
}

.content {
	margin: 0 auto;
	max-width: 1020px;
}

.header {
	height: 95px;
	background-color: #2d303a;
	border-bottom: 6px solid #323746;
}

.content-header {
	display: flex;
	justify-content: space-between;
}

.logo {
	margin: 41px 0 0 39px;
}

.logo-link {
	color: #ffffff;
	text-decoration: none;
}

.logo-star {
	color: #f06c64;
}

.logo-title {
	font-size: 25px;
	line-height: 6px;
	color: #ffffff;
	letter-spacing: -0.02em;
	font-weight: 700;
	text-align: left;
	text-transform: uppercase;
}

.header-nav {
	margin: 38px 40px 0 0;
}

.nav-items {
	display: flex;
}

.nav-item {
	list-style: none;
}

.nav-item:not(:first-child):before {
	content: '\00B7';
	padding: 0 12.2px;
	color: #494e62;
}

.nav-text {
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 12px;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	text-align: left;
	letter-spacing: -0.01px;
}

.nav-text-active {
	color: #f06c64;
}

.nav-text:hover {
	color: #e79995;
}

.slider {
	height: 600px;
	background-color: #f06c64;
	border-bottom: 6px solid #ea676b;
}

.slider-arrows {
	position: relative;
	top: 281px;
}

.slider-arrow {
	width: 16px;
	height: 27px;
	cursor: pointer;
	transform: scale(1);
	transition: all 0.2s;
	z-index: 3;
}

.slider-arrow:hover {
	transform: scale(1.6);
}

.arrow-prev {
	position: absolute;
	left: 41px;
}

.arrow-next {
	position: absolute;
	right: 41px;
}

.phone-images {
	position: relative;
}

.phone-vertical {
	position: absolute;
	top: 53px;
	left: 111px;
}

.phone-horizontal {
	position: absolute;
	top: 174px;
	left: 424px;
}

.services {
	background-color: #f2f2f2;
	height: 500px;
	border-bottom: 6px solid white;
}

.services-title {
	margin: 0 39px;
}

.services-title-header {
	padding-top: 59px;
	font-size: 30px;
	font-weight: 900;
	color: #666d89;
	letter-spacing: -0.2px;
}

.services-title-text {
	margin-top: 18px;
	font-weight: 300;
	font-size: 18px;
	line-height: 30px;
	text-align: left;
	letter-spacing: 0.15px;
}

.services-title-text-change {
	letter-spacing: 0;
}

.services-items {
	display: flex;
	flex-wrap: wrap;
	margin-top: 45px;
	margin-left: 39.5px;
}

.services-item {
	display: flex;
	max-width: 32%;
	align-items: flex-start;
	color: #666d89;
}

.services-item-content {
	margin-left: 20px;
	width: 220px;
}
.services-item-logo {
	margin-top: 0.1em;
}

.services-logo-img {
	width: 60px;
}

.services-item5,
.services-item2 {
	margin-left: 1.18em;
}

.services-item6,
.services-item3 {
	margin-left: 20.5px;
}

.services-item5,
.services-item4,
.services-item6 {
	margin-top: 32px;
}

.services-item-title {
	font-weight: 900;
	font-size: 19px;
	line-height: 18px;
	color: #666d89;
	text-align: left;
	letter-spacing: -0.67px;
}

.title-spacing-one {
	letter-spacing: -0.7px;
}
.title-spacing-two {
	padding-left: 1px;
	letter-spacing: -0.55px;
}

.services-item-text {
	font-size: 12px;
	line-height: 21.5px;
	color: #767e9e;
	font-weight: 400;
	text-align: justify;
	padding-top: 10.2px;
	overflow: hidden;
	letter-spacing: 0px;
}
