@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 300;
	src: url('./assets/fonts/Lato/lato-v16-latin-300.woff2') format('woff2');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: url('./assets/fonts/Lato/lato-v16-latin-regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	src: url('./assets/fonts/Lato/lato-v16-latin-700.woff2') format('woff2');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 900;
	src: url('./assets/fonts/Lato/lato-v16-latin-900.woff2') format('woff2');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style-type: none;
}

.wrapper {
	width: 100%;
	font-family: 'Lato', sans-serif;
}

.content {
	margin: 0 auto;
	max-width: 1020px;
	/* background-color: yellow; */
}

.header {
	height: 95px;
	background-color: #2d303a;
	border-bottom: 6px solid #323746;
}

.content-header {
	display: flex;
	justify-content: space-between;
}

.logo {
	margin: 41px 0 0 40px;
}

.logo-link {
	color: #ffffff;
	text-decoration: none;
}

.logo-star {
	color: #f06c64;
}

.logo-title {
	font-size: 25px;
	line-height: 6px;
	color: #ffffff;
	letter-spacing: -0.02em;
	font-weight: 700;
	text-align: left;
	text-transform: uppercase;
}

.header-nav {
	margin: 38px 39px 0 0;
}

.nav-items {
	display: flex;
}

.nav-item {
	list-style: none;
}

.nav-item:not(:first-child):before {
	content: '\00B7';
	padding: 0 12.1px;
	color: #494e62;
}

.nav-text {
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 12px;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	text-align: left;
	letter-spacing: -0.01px;
}

.nav-text-active {
	color: #f06c64;
}

.nav-text:hover {
	color: #e79995;
}

.slider {
	height: 600px;
	background-color: #f06c64;
	border-bottom: 6px solid #ea676b;
}

.slider-arrows {
	position: relative;
	top: 281px;
}

.slider-arrow {
	width: 16px;
	height: 27px;
	cursor: pointer;
	transform: scale(1);
	transition: all 0.2s;
	z-index: 3;
}

.slider-arrow:hover {
	transform: scale(1.6);
}

.arrow-prev {
	position: absolute;
	left: 42px;
}

.arrow-next {
	position: absolute;
	right: 40px;
}

.phone-images {
	position: relative;
}

.phone-vertical {
	position: absolute;
	top: 53px;
	left: 112px;
}

.phone-horizontal {
	position: absolute;
	top: 174px;
	left: 425px;
}

.services {
	background-color: #f2f2f2;
	height: 500px;
	border-bottom: 6px solid white;
}

.services-title {
	margin: 0 40px;
}

.services-title-header {
	padding-top: 59px;
	font-size: 30px;
	font-weight: 900;
	color: #666d89;
	letter-spacing: -0.2px;
}

.services-title-text {
	margin-top: 18px;
	font-weight: 300;
	font-size: 18px;
	line-height: 30px;
	text-align: justify;
	letter-spacing: 0.15px;
}

.services-title-text-change {
	letter-spacing: 0;
}

.services-items {
	display: flex;
	flex-wrap: wrap;
	margin-top: 45px;
	margin-left: 41px;
}

.services-item {
	display: flex;
	max-width: 32%;

	align-items: flex-start;
	color: #666d89;
}

.services-item-content {
	margin-left: 20px;
	width: 220px;
}
.services-item-logo {
	margin-top: 0.1em;
}

.logo2 {
	margin-left: 0.1em;
}

.services-logo-img {
	width: 60px;
}

.logo2-img {
	width: 59px;
}

.services-item5,
.services-item2 {
	margin-left: 1.18em;
}

.services-item6,
.services-item3 {
	margin-left: 20.5px;
}

.services-item5,
.services-item4,
.services-item6 {
	margin-top: 32px;
}

.services-item-title {
	margin-left: -1px;
	font-weight: 900;
	font-size: 19px;
	line-height: 18px;
	color: #666d89;
	text-align: left;
	letter-spacing: -0.6px;
}

.title-spacing-two {
	padding-left: 1px;
	letter-spacing: -0.55px;
}

.services-item-text {
	width: 220px;
	height: 73px;
	font-size: 12px;
	line-height: 21.5px;
	color: #767e9e;
	font-weight: 400;
	text-align: justify;
	padding-top: 10.2px;
	overflow: hidden;
	letter-spacing: 0px;
}

.portfolio {
	height: 869px;
	background-color: #2d303a;
	border-bottom: solid 6px #323746;
}
.portfolio-title {
	padding-top: 68px;
	margin-left: 41px;
}

.portfolio-title-header {
	font-size: 30px;
	line-height: 18px;
	color: #666d89;
	font-weight: 900;
	text-align: left;
	letter-spacing: -0.11px;
}

.portfolio-title-text {
	margin-top: 27px;
	width: 940px;
	font-size: 18px;
	line-height: 30px;
	color: #767e9e;
	font-weight: 300;
	text-align: left;
}

.portfolio-buttons {
	display: flex;
	margin-top: 11px;
	padding-left: 42px;
}

.portfolio-btn {
	padding: 0 6.1px;
	margin-right: 10px;
	list-style-type: none;
	border-radius: 5px;
	border: 1px solid #666d89;
	font-size: 12px;
	line-height: 20px;
	color: #767e9e;
	font-weight: 400;
	letter-spacing: 0.06px;
	cursor: pointer;
}

.portfolio-btn:nth-child(3),
.portfolio-btn:nth-child(4) {
	padding: 0 5px;
}

.portfolio-btn-active {
	color: #dedede;
	border: 1px solid #c5c5c5;
}

.portfolio-btn:hover {
	color: #ffffff;
	border: 1px solid #ffffff;
}

.portfolio-images {
	display: flex;
	flex-wrap: wrap;
	margin-top: 19px;
	margin-left: 40px;
	width: 970px;
	height: 615px;
	overflow: hidden;
}

.portfolio-img {
	margin-bottom: 20px;
	margin-right: 20px;
}

.about {
	height: 734px;
	background-color: #f2f2f2;
	border-bottom: solid 6px #ffffff;
}

.about-title {
	padding-top: 68px;
	margin-left: 40px;
}

.about-title-head {
	margin-left: 1px;
	font-size: 30px;
	line-height: 18px;
	color: #666d89;
	font-weight: 900;
	text-align: left;
	letter-spacing: -0.2px;
}

.about-title-text {
	margin-top: 27px;
	padding-left: 1px;
	width: 940px;
	text-align: justify;
	font-size: 18px;
	line-height: 30px;
	color: #767e9e;
	font-weight: 300;
}

.about-persons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 45px 40px 0;
}

.persons-item:nth-child(2) {
	margin-right: 2px;
}

.persons-item {
	width: 300px;
}

.persons-photo {
	width: 300px;
	height: 300px;
}

.persons-content-title {
	margin-top: 14px;
	margin-left: -1px;
	width: 300px;
	height: 18px;
	font-size: 18px;
	line-height: 18px;
	color: #666d89;
	font-weight: 900;
	text-align: left;
	letter-spacing: -0.1px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.desmond-title {
	padding-left: 1px;
}
.desmond-text {
	padding-left: 1px;
}

.persons-content-text {
	margin-top: 10px;
	font-size: 12px;
	line-height: 21px;
	color: #767e9e;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	text-align: justify;
}

.adam-text {
	letter-spacing: -0.06px;
}

.social-icons {
	display: flex;
	margin-top: 1px;
	margin-left: 1px;
}

.scolara-icons {
	margin-left: 0;
}

.social-icon {
	margin-top: 23px;
	margin-right: 8px;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	border: 1px solid #666d89;
	cursor: pointer;
}

.icon-facebook {
	background: url(./assets/icons/ico-facebook.svg) no-repeat center;
}

.icon-google {
	background: url(./assets/icons/ico-google+.svg) no-repeat center;
}

.icon-twitter {
	background: url(./assets/icons/ico-twitter.svg) no-repeat center;
}

.icon-linkedin {
	background: url(./assets/icons/ico-linkedin.svg) no-repeat center;
}

.icon-facebook:hover,
.icon-google:hover,
.icon-twitter:hover,
.icon-linkedin:hover {
	background-color: rgb(168, 166, 173);
	filter: invert(100%) brightness(154%) saturate(4%);
}

.contacts {
	height: 654px;
	background-color: #f06c64;
	border-bottom: 6px solid #ea676b;
}

.contacts-title-header {
	margin-left: 40px;
	padding-top: 68px;
	font-size: 30px;
	line-height: 18px;
	color: #f0d8d9;
	font-weight: 900;
}

.contacts-title-text {
	margin-left: 40px;
	padding-top: 27px;
	width: 940px;
	font-size: 18px;
	line-height: 30px;
	color: #f0d8d9;
	font-weight: 300;
	text-align: justify;
}

.contact-forms {
	margin-top: 44px;
	margin-left: 40px;
	display: flex;
}

.contact-form {
	display: flex;
	flex-direction: column;
}

.contact-form-input {
	margin-bottom: 16px;
	padding-left: 15px;
	width: 619px;
	border-radius: 5px;
	background-color: #d6564f;
	font-size: 12px;
	line-height: 22px;
	color: white;
	font-weight: 400;
	text-align: left;
	border: none;
}

.contact-form-input::placeholder {
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	line-height: 22px;
	color: #f48c8f;
	font-weight: 400;
}

.input-name,
.input-email,
.input-subject {
	padding: 8px 15px 9px;
	height: 38px;
}

.input-description {
	padding: 7px 15px 9px;
	height: 202px;
}

.input-description::placeholder {
	/* font-family: 'Lato', sans-serif;
	font-size: 12px;
	line-height: 22px;
	color: #f48c8f;
	font-weight: 400; */
	text-align: left;
	letter-spacing: 0.03px;
}

.btn-submit {
	margin: 0 auto;
	padding: 0 13%;
	width: 220px;
	height: 36px;
	background-color: #f0d8d9;
	color: #d6564f;
	font-size: 16px;
	font-weight: 700;
	cursor: pointer;
}
.btn-submit:hover {
	color: #ff010a;
	background-color: #f7bfc0;
}

.contact-info {
	margin-left: 21px;
	/* margin-top: -1px; */
	width: 300px;
}

.contact-info-title {
	font-size: 18px;
	line-height: 18px;
	color: #f0d8d9;
	font-weight: 900;
	letter-spacing: -0.1px;
}

.contact-info-text {
	height: 80px;
	font-size: 12px;
	line-height: 21px;
	color: #f0d8d9;
	font-weight: 400;
	padding-top: 10px;
	text-align: justify;
	letter-spacing: -0.03px;
}

.newline-height {
	line-height: 23px;
}

.contacts-details {
	margin-top: 38px;
	margin-left: -0.5px;
}

.details-item {
	display: flex;
	margin-bottom: -0.6px;
}

.details-img {
	display: block;
	margin-top: 4px;
	margin-left: 1px;
	width: 13px;
	height: 12px;
}

.img-loc {
	background: url(./assets/icons/ico-loc.svg) no-repeat 3px center;
}

.img-phone {
	background: url(./assets/icons/icon-phone.svg) no-repeat center;
}

.img-mail {
	background: url(./assets/icons/ico-mail.svg) no-repeat center;
	margin-top: 6px;
}

.details-href {
	margin-left: 10px;
	text-decoration: none;
	font-size: 12px;
	line-height: 22px;
	color: #f0d8d9;
	font-weight: 400;
}

.footer {
	height: 76px;
	background-color: #2d303a;
}

.content-footer {
	display: flex;
	justify-content: space-between;
}

.footer-copyright {
	padding-top: 30px;
	margin-left: 42px;
	font-weight: 300;
	font-size: 12px;
	letter-spacing: -0.004em;
	color: #666d89;
}

.footer-social-items {
	margin-right: 32px;
	margin-top: -2px;
}

.footer-dot {
	display: inline-block;
	margin-bottom: 1px;
}
